.product-row{
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: normal;
  display: flex;
  justify-content: space-around;
}

.red-label{
  color: red;
}

.black-label{
  color: black;
}