<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>About</title>
</head>

<body>
    <header>
        <div class="navi container-fluid">
            <nav class="nav navbar">
                <div class="container">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="about col-lg-12">
                    <h3>About anything you want</h3>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices, nibh eget blandit mollis, metus
                            quam dapibus felis, quis fermentum dolor nulla et velit. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Nulla vitae lacus mauris. In fringilla justo ac elit laoreet, vel dictum dolor consectetur. In
                            semper lacus et est aliquam, at molestie est commodo. Integer aliquet rutrum diam. Mauris sed volutpat
                            sapien. Ut faucibus lobortis maximus. Duis vitae turpis vitae odio pharetra pulvinar vel sit amet odio.
                            Vestibulum vitae consequat eros, id pellentesque est. Sed nec fermentum elit. Nunc vel tellus eget diam
                            imperdiet aliquet. Donec hendrerit elit felis, eu ornare leo interdum eget. Mauris sed eros ante. Etiam
                            non accumsan dui, id sagittis velit. In gravida pulvinar nunc id finibus. Cras porttitor justo ac blandit
                            viverra.</p>
                    </div><div class="col-md-4">
                        <p>Nam lobortis odio eget nunc semper sodales. Duis justo sem, pellentesque at fermentum at, condimentum
                            ac eros. Suspendisse fringilla purus id metus aliquam scelerisque. Nam feugiat, lorem vitae rhoncus hendrerit,
                            magna tellus dapibus ipsum, non fringilla sapien erat et sem. Quisque in justo venenatis, tincidunt quam
                            sed, aliquam massa. Maecenas tempus faucibus arcu, vel dapibus dui tempus a.</p>
                    </div><div class="col-md-4">
                        <p>Nullam condimentum nisl
                            vel ex interdum, vitae accumsan ex laoreet. Etiam porta, est sit amet euismod ultrices, velit nunc ultricies
                            sem, id consequat turpis leo et velit. Integer eget lobortis mauris. Cras mauris leo, feugiat at fringilla
                            et, tempor eget nisl. Ut ullamcorper consequat nibh, vel dapibus lacus gravida quis. Morbi suscipit,
                            dolor ac semper rhoncus, purus orci varius sem, ac bibendum ipsum eros eu odio. Nam hendrerit quam quis
                            libero congue, gravida tempor sem gravida. Curabitur eu urna ac lorem efficitur tempor sed ac magna.
                            Sed ut urna pellentesque, vehicula tortor in, hendrerit est. Fusce egestas pharetra diam, sed aliquam
                            ligula efficitur non. Duis id ante cursus, placerat eros at, tristique ligula.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="footer container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed commodo ipsum. Quisque a est sit
                            amet est sollicitudin convallis. Nulla eget lectus nulla. Nullam cursus, lorem at vehicula euismod,
                            leo dolor varius lacus, nec rhoncus leo velit tempus dui. Proin molestie viverra odio sed luctus.
                            Ut eget tristique orci.</p>
                    </div>
                    <div class="col-lg-12">
                        <h3>Lorem Ipsum 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed commodo ipsum. Quisque a est sit
                            amet est sollicitudin convallis. Nulla eget lectus nulla. Nullam cursus, lorem at vehicula euismod,
                            leo dolor varius lacus, nec rhoncus leo velit tempus dui. Proin molestie viverra odio sed luctus.
                            Ut eget tristique orci.</p>
                    </div>
                    <div class="col-lg-12">
                        <h3>Lorem Ipsum 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed commodo ipsum. Quisque a est sit
                            amet est sollicitudin convallis. Nulla eget lectus nulla. Nullam cursus, lorem at vehicula euismod,
                            leo dolor varius lacus, nec rhoncus leo velit tempus dui. Proin molestie viverra odio sed luctus.
                            Ut eget tristique orci.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-thumbnail">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2178.3205958285666!2d-0.35257547006683865!3d39.455534032860896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048e9d19b4381%3A0x62eb4407a5ebf894!2sCidade+das+Artes+e+das+Ci%C3%AAncias!5e0!3m2!1spt-BR!2ses!4v1523385195438"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

</body>

</html>